Repository bookseer/links: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: ^venv/ ^.git/
  check-json: any of: \.json$, \.ipynb$, but not: ^venv/ ^.git/
  check-toml: any of: \.toml$, but not: ^venv/ ^.git/
  check-yaml: any of: \.(yaml|yml)$, but not: ^venv/ ^.git/
  requirements-txt-fixer: any of: ^(requirements).*(.txt)$, but not: ^venv/ ^.git/

Update documentation
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
Due: pretty-format-json, check-json

Исправлено: Форматирование комментариев в файле `book/_config.yml`
  .binder/requirements.txt
  book/_config.yml
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Добавлено: Конфигурация для автоматизации запуска `tmux`
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  tmux.conf
Due: check-toml, requirements-txt-fixer

Изменено:\n- Ссылка на справочные материалы в файле `book/_toc.yml`
  .binder/requirements.txt
  book/_toc.yml
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Добавлено:\n- Паттерн `.virtual_documents/` в файл `.gitignore`
  .gitignore
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Due: check-toml, requirements-txt-fixer

Добавлено:\n- Зависимость `jupyterlab-myst`
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Изменено: Команда сборки книги
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Изменено: Форматирование файла `CHANGELOG.md`
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Изменено: Обновлены зависимости проекта
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
  tests/venv_test.py
Due: check-toml, requirements-txt-fixer

Добавлено: Раздел "Алфавитный указатель"
  .binder/requirements.txt
  CHANGELOG.md
  book/_toc.yml
  book/genindex.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Update documentation
  _sources/genindex.md
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  genindex.html
  index.html
  info/index.html
  info/typography.html
  objects.inv
  python/index.html
  python/packages/index.html
  search.html
  searchindex.js
Due: pretty-format-json, check-json

Добавлено: Метки страниц
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Добавлено: Поддержка Poetry 2.0
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Исправлено: Ошибки в файле `CHANGELOG.md`
  CHANGELOG.md
Due: none

Изменено: Обновлены зависимости проекта
  CHANGELOG.md
Due: none

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
Due: pretty-format-json, check-json

Изменено: Обновлены зависимости проекта
  pyproject.toml
  requirements.txt
Due: check-toml, requirements-txt-fixer

Добавлено: Зависимость `JupyterQuiz`
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Добавлено: Зависимость `jupyter-tikz`
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Исправлено: Форматирование `pyproject.toml`
  CHANGELOG.md
  pyproject.toml
Due: check-toml

Добавлено: Поддержка `poetry 2.0` в `pyproject.toml`
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Исправлено: Заголовки `md` файлов для `jupytext`
  .binder/requirements.txt
  CHANGELOG.md
  book/index.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Update documentation
  _sources/index.ipynb
  _sources/index.md
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
Due: pretty-format-json, check-json

Исправлено:\n- Команда `poetry exec jupyter` теперь не запускает браузер по умолчанию
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer
