Repository bookseer/links: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer

pretty-format-json:
  name: Checks that all your JSON files are pretty (pretty-format-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: pretty-format-json
  args:
  - --autofix
  - --indent=4
  - --no-ensure-ascii
  - --no-sort-keys
  require_serial: true

check-json:
  name: Attempts to load all json files to verify syntax (check-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-json
  require_serial: true

check-toml:
  name: Attempts to load all TOML files to verify syntax (check-toml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-toml
  require_serial: true

check-yaml:
  name: Attempts to load all yaml files to verify syntax (check-yaml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-yaml
  args:
  - --allow-multiple-documents
  require_serial: true

requirements-txt-fixer:
  name: Sorts entries in requirements.txt and constraints.txt (requirements-txt-fixer)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: requirements-txt-fixer
  require_serial: true
  verbose: true

Added and setting MkDocs
  CHANGELOG.md
  docs/assets/js/noindex.js
  docs/index.html
  docs/index.md
  docs/python/index.md
  docs/python/packages/index.md
  mkdocs.yml
  pyproject.toml
  requirements-dev.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Added and setting MkDocs
  links/python.md
Due: none

Deployed 1ea1d25 with MkDocs version: 1.5.3
  sitemap.xml.gz
Due: none

Create CNAME
  docs/CNAME
Due: none

Deployed 1ea1d25 with MkDocs version: 1.5.3
  docs/CNAME
  sitemap.xml.gz
Due: none

Update CNAME
  CNAME
Due: none

Edited setting MkDocs
  mkdocs.yml
Due: check-yaml

Deployed dfd5109 with MkDocs version: 1.5.3
  CNAME
  index.html
  python/index.html
  python/packages/index.html
  sitemap.xml.gz
Due: none

Deployed 2dd15fe with MkDocs version: 1.5.3
  404.html
  index.html
  python/index.html
  python/packages/index.html
  sitemap.xml.gz
Due: none

Edited setting MkDocs
  docs/assets/js/noindex.js
Due: none

Deployed 7c85401 with MkDocs version: 1.5.3
  404.html
  assets/js/noindex.js
  index.html
  python/index.html
  python/packages/index.html
  sitemap.xml.gz
Due: none

Added links on Scikit Learn
  docs/python/packages/index.md
Due: none

Deployed 040e867 with MkDocs version: 1.5.3
  python/packages/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: pretty-format-json, check-json

Changed formating links
  docs/python/index.md
  docs/python/packages/index.md
Due: none

Deployed c4a3231 with MkDocs version: 1.5.3
  python/index.html
  python/packages/index.html
  search/search_index.json
  sitemap.xml.gz
Due: pretty-format-json, check-json

Version 2023.12.25
  CHANGELOG.md
  docs/assets/css/links.css
  docs/assets/js/links.js
  docs/assets/js/noindex.js
  docs/python/index.md
  docs/python/packages/index.md
  mkdocs.yml
  pyproject.toml
Due: check-toml, check-yaml

Deployed e767d0c with MkDocs version: 1.5.3
  404.html
  assets/css/links.css
  assets/js/links.js
  assets/js/noindex.js
  index.html
  python/index.html
  python/packages/index.html
  search/search_index.json
  sitemap.xml.gz
Due: pretty-format-json, check-json

Version 2023.12.25
  docs/assets/css/links.css
Due: none

Deployed 4313119 with MkDocs version: 1.5.3
  assets/css/links.css
  sitemap.xml.gz
Due: none

Version 2023.12.25
  docs/assets/css/links.css
  docs/python/index.md
  docs/python/packages/index.md
Due: none

Deployed 8f6f2c4 with MkDocs version: 1.5.3
  assets/css/links.css
  python/index.html
  python/packages/index.html
  search/search_index.json
  sitemap.xml.gz
Due: pretty-format-json, check-json

Added links on DEAP Python Package
  docs/python/packages/index.md
Due: none

Changed formating links
  docs/assets/css/links.css
  docs/assets/js/links.js
  mkdocs.yml
Due: check-yaml

Deployed c82555a with MkDocs version: 1.5.3
  404.html
  assets/css/links.css
  assets/js/links.js
  index.html
  python/index.html
  python/packages/index.html
  search/search_index.json
  sitemap.xml.gz
Due: pretty-format-json, check-json

Settings commit
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  LICENSE.txt
  README.md
  book/_config.yml
  book/_toc.yml
  book/chapter01.md
  book/index.md
  book/logo.png
  book/python/index.md
  book/python/packages/index.md
  book/references.bib
  docs/CNAME
  docs/__init__.py
  docs/assets/css/links.css
  docs/assets/js/links.js
  docs/index.md
  mkdocs.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/bookseer/links/__init__.py
  tests/__init__.py
  tests/venv_test.py
Due: check-toml, check-yaml, requirements-txt-fixer

Изменено: автоматическое создание файла CNAME для GitHub Pages
  .gitignore
  CHANGELOG.md
  LICENSE.txt
  README.md
  book/_static/img/cc-icons.svg
  book/_static/img/logomark.svg
  pyproject.toml
Due: check-toml

Update documentation
  .buildinfo
  CNAME
  _sources/chapter01.ipynb
  _static/img/cc-icons.svg
  _static/img/logomark.svg
Due: pretty-format-json, check-json

Изменено: Настройки проекта
  .binder/requirements.txt
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  book/_config.yml
  book/_static/images/cc-icons.svg
  book/_static/images/cc-logomark.svg
  book/_static/images/favicon.ico
  book/_static/images/favicon.svg
  book/_static/images/logo-square.svg
  book/_static/images/logo-wide.svg
  book/_static/scripts/scripts.js
  book/_static/styles/styles.css
  book/index.md
  book/logo.png
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Добавлено: Список типографских соглашений
  CHANGELOG.md
  book/_toc.yml
  book/info/index.md
  book/info/typography.md
Due: check-yaml

Изменено: Обновлены зависимости проекта
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: check-toml, requirements-txt-fixer

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  _static/basic.css
  _static/doctools.js
  _static/language_data.js
  _static/pygments.css
  _static/searchtools.js
  genindex.html
  index.html
  info/index.html
  info/typography.html
  python/index.html
  python/packages/index.html
  search.html
  searchindex.js
Due: pretty-format-json, check-json

Update documentation
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
Due: pretty-format-json, check-json

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: ^venv/ ^.git/
  check-json: any of: \.json$, \.ipynb$, but not: ^venv/ ^.git/
  check-toml: any of: \.toml$, but not: ^venv/ ^.git/
  check-yaml: any of: \.(yaml|yml)$, but not: ^venv/ ^.git/
  requirements-txt-fixer: any of: ^(requirements).*(.txt)$, but not: ^venv/ ^.git/
