Repository bookseer/links: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer

pretty-format-json:
  name: Checks that all your JSON files are pretty (pretty-format-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: pretty-format-json
  args:
  - --autofix
  - --indent=4
  - --no-ensure-ascii
  - --no-sort-keys
  require_serial: true

check-json:
  name: Attempts to load all json files to verify syntax (check-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-json
  require_serial: true

check-toml:
  name: Attempts to load all TOML files to verify syntax (check-toml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-toml
  require_serial: true

check-yaml:
  name: Attempts to load all yaml files to verify syntax (check-yaml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-yaml
  args:
  - --allow-multiple-documents
  require_serial: true

requirements-txt-fixer:
  name: Sorts entries in requirements.txt and constraints.txt (requirements-txt-fixer)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: requirements-txt-fixer
  require_serial: true
  verbose: true

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  _static/proof.css
  genindex.html
  index.html
  info/index.html
  info/typography.html
  python/index.html
  python/packages/index.html
  search.html
Due: pretty-format-json, check-json

Изменено: Обновлены зависимости проекта
  .binder/requirements.txt
  CHANGELOG.md
  book/_config.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Update documentation
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
Due: pretty-format-json, check-json

Изменено: Обновлены настройки проекта
  .binder/requirements.txt
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  index.html
  info/index.html
  info/typography.html
Due: pretty-format-json, check-json

Изменено: Обновлены настройки проекта
  .binder/requirements.txt
  CHANGELOG.md
  book/_config.yml
  pyproject.toml
  requirements.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Изменено: Обновлены настройки проекта
  .binder/requirements.txt
  .gitignore
  CHANGELOG.md
  book/_config.yml
  pyproject.toml
  requirements_colab.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Изменен файл .gitignore
  .gitignore
Due: none

Изменено: Обновлены настройки проекта
  .binder/requirements.txt
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Update documentation
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  _static/scripts/bootstrap.js.map
  _static/scripts/fontawesome.js
  _static/scripts/fontawesome.js.LICENSE.txt
  _static/scripts/fontawesome.js.map
  _static/scripts/pydata-sphinx-theme.js
  _static/scripts/pydata-sphinx-theme.js.map
  _static/styles/pydata-sphinx-theme.css
  _static/styles/pydata-sphinx-theme.css.map
  _static/vendor/fontawesome/webfonts/fa-brands-400.ttf
  _static/vendor/fontawesome/webfonts/fa-brands-400.woff2
  _static/vendor/fontawesome/webfonts/fa-regular-400.ttf
  _static/vendor/fontawesome/webfonts/fa-regular-400.woff2
  _static/vendor/fontawesome/webfonts/fa-solid-900.ttf
  _static/vendor/fontawesome/webfonts/fa-solid-900.woff2
  _static/webpack-macros.html
  genindex.html
  index.html
  info/index.html
  info/typography.html
  python/index.html
  python/packages/index.html
  search.html
Due: pretty-format-json, check-json

Изменено: Обновлены зависимости проекта
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
  tests/venv_test.py
Due: check-toml, requirements-txt-fixer

Изменено: Обновлены зависимости проекта
  pyproject.toml
Due: check-toml

Изменено: Обновлены настройки проекта
  CHANGELOG.md
  book/_config.yml
Due: check-yaml

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  _static/pygments.css
  genindex.html
  index.html
  info/index.html
  info/typography.html
  python/index.html
  python/packages/index.html
  search.html
Due: pretty-format-json, check-json

Изменено: Обновлены настройки проекта
  README.md
  book/_config.yml
Due: check-yaml

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  genindex.html
  index.html
  info/index.html
  info/typography.html
  python/index.html
  python/packages/index.html
  search.html
Due: pretty-format-json, check-json

Изменено: Обновлен список команд для poetry-exec-plugin
  CHANGELOG.md
  pyproject.toml
Due: check-toml

Update documentation
  CNAME
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
Due: pretty-format-json, check-json

Изменено: Обновлен список команд для poetry-exec-plugin
  .binder/requirements.txt
  CHANGELOG.md
  pyproject.toml
  requirements.txt
  requirements_colab.txt
Due: check-toml, requirements-txt-fixer

Update documentation
  CNAME
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  genindex.html
  index.html
  info/index.html
  info/typography.html
  python/index.html
  python/packages/index.html
  search.html
Due: pretty-format-json, check-json

Исправлено: Исправлена опечатка в ссылке на логотип лицензии в README.md
  CHANGELOG.md
  README.md
  pyproject.toml
Due: check-toml

Добавлено: Команда `debug_book` в poetry-exec-plugin для отладки сборки книги
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Due: check-toml, requirements-txt-fixer

Update documentation
  _sources/index.ipynb
  _sources/info/index.ipynb
  _sources/info/typography.ipynb
  genindex.html
  index.html
  info/index.html
  info/typography.html
  python/index.html
  python/packages/index.html
  search.html
Due: pretty-format-json, check-json

Изменено:\n- Команда `clean_venv` для очистки артефактов сборки теперь использует JupyterBook API
  CHANGELOG.md
  pyproject.toml
Due: check-toml

Изменено: В команду `build_boook` добавлена сборка pdf версии книги
  CHANGELOG.md
  pyproject.toml
  requirements.txt
Due: check-toml, requirements-txt-fixer

Изменено: Настройка `html.google_analytics_id` на `html.analytics.google_analytics_id`
  CHANGELOG.md
  book/_config.yml
  pyproject.toml
  requirements.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Исправлено: Ссылки на документацию в файле `book/_config.yml`
  book/_config.yml
  pyproject.toml
  requirements.txt
Due: check-toml, check-yaml, requirements-txt-fixer

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: ^venv/ ^.git/
  check-json: any of: \.json$, \.ipynb$, but not: ^venv/ ^.git/
  check-toml: any of: \.toml$, but not: ^venv/ ^.git/
  check-yaml: any of: \.(yaml|yml)$, but not: ^venv/ ^.git/
  requirements-txt-fixer: any of: ^(requirements).*(.txt)$, but not: ^venv/ ^.git/
